$color-primary: #F4A17B;
$color-hover: #F1813D;

$color-header-border: #DADADA;
$color-search: #FFCBB4;
$color-user: #FAB798;
$color-nav-arrow: #A5A5A5;

$color-bg: #FAFAFA;

$color-text: #000000;
$color-dark: #383838;
$color-light: #FFFFFF;
$color-inactive: #9E9E9E;
$color-exception: #DB7F55;

$color-sale: #F16254;
$color-new: #8AC9A3;
$color-hit: #8ABEC9;

$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
