@font-face {
    font-family: 'Cyntho Next';
    src: url('../../src/fonts/CynthoNext-Regular.eot'); /* IE9 Compat Modes */
    src: //url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         //url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../src/fonts/CynthoNext-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         //url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
