.navigation {
    margin: 0;
    padding: 26px 0 25px;
    @extend %display;
    .navigation__item {
        padding-left: 45px;
        position: relative;
        @extend %case;
        @include font($size: 1.4rem, $weight: 300, $height: 1.68rem);
        >* {
            color: $color-text;
            text-decoration: none;
            @extend %font;
        }
    }
    @include media-tablet {
        display: none;
    }
}

.drop-menu__list {
    display: none;
    position: absolute;
    padding: 14px 16px;
    width: 179px;
    top: 270%;
    left: -12%;
    z-index: 1;
    background-color: $color-light;
    box-shadow: 0px 0px 20px rgba(244, 161, 123, 0.18);
    border-radius: 5px;
    max-height: 273px;
}

.navigation__item:hover .drop-menu__list {
    display: block;
}

.drop-menu__item {
    text-align: center;
    padding: 12px 0;
}

.drop-menu__link {
    color: $color-text;
    text-decoration: none;
    white-space: nowrap;
    @extend %font;
    &:hover {
        font-weight: 500;
        @extend %transition;
    }
}

.drop-menu__link::before {
    content: '';
    border-top: 1px solid lightgray;
    width: 4rem;
    transform: translateY(-1rem);
}
