.swiper1 {
    padding-top: 50px;
    @include media-mobile {
        padding-top: 30px;
    }
}

.swiper-slide {
    width: 27rem;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(163, 163, 163, 0.25);
    @include media-mobile {
        box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.25);
    }
}

.swiper1-btn_next,
.swiper1-btn_prev {
    @include media-tablet {
        display: none;
    }
}

.swiper1-btn_next:after {
    background-image: url('../src/img/icons/control-next.svg');
}

.swiper1-btn_prev:after  {
    background-image: url('../src/img/icons/control-prev.svg');
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
}

.swiper1-btn_prev:after,
.swiper1-btn_next:after {
    width: 14px;
    height: 28px;
}
