.button {
    @extend %font;
    @extend %case;
    @include font($size: 1.4rem, $weight: 600, $height: 1.68rem);
    padding: 17px 28px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    &_colored {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        color: $color-light;
        &:hover {
            background-color: $color-hovered;
        }
    }
    &_bordered {
        background-color: $color-light;
        border: 1px solid $color-primary;
        color: $color-dark;
        &:hover {
            background-color: $color-primary;
            color: $color-light;
        }
    }
    @include media-mobile {
        padding: 9px 24px 12.15px 25px;
        @include font($size: 1.0rem, $weight: 600, $height: 1.2rem);
    }
}
