.eco-products {
    background-image: url('../src/img/backgrounds/eco-bg.png');
    background-repeat: no-repeat;
    padding: 130px 0 129px;
}

.eco-products__title {
    margin: 0;
    padding-bottom: 78px;
    color: $color-dark;
    text-align: center;
    @extend %case;
    @extend %font;
    @include font($size: 2.6rem, $weight: 400, $height: 3.12rem);
}

.eco-products__cards {
    @extend %display;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 28px;
}

.eco-products__card {
    box-shadow: 0px 0px 20px rgba(244, 161, 123, 0.18);
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}

.eco-products__button {
    display: block;
    margin: 0 auto;
}
