.header {
    background: $color-light;
    height: 130px;
}

.header__wrapper {
    @extend %display;
    flex-direction: column;
}

.header__line-1 {
    @extend %display;
    height: 61px;
}

.header__line-2 {
    @extend %display;
    justify-content: space-between;
    height: 68px;
}

.line-1__left {
    width: 85%;
    @extend %display;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1.5px solid $color-header-border;
}

.telephone {
    color: $color-dark;
    text-decoration: none;
    @extend %font;
    @include font($size: 2.0rem, $weight: 500, $height: 2.4rem);
}

.line-1__right {
    @extend %display;
}
