.promo {
    background-image: url('../src/img/backgrounds/promo-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 137px 0 174px;
    @include media-tablet {
        background-position: 67% 50%;
        background-size: auto;
    }
}

.promo__title {
    margin: 0;
    color: $color-dark;
    max-width: 364px;
    @extend %font;
    @include font($size: 4.8rem, $weight: 700, $height: 5.76rem);
}

.promo__text {
    margin: 0;
    padding: 19px 0 31px;
    max-width: 477px;
    @extend %font;
    @include font($size: 1.4rem, $weight: 300, $height: 1.68rem);
    @include media-tablet {
        max-width: 349px;
    }
}

.promo__button {
    width: 184px;
}

.promo__transition {
    background-image: url('../src/img/backgrounds/transition-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
}
